body{
font-family: Arial, sans-serif;
background:#f2f6fc;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.auth-box{
background:white;
padding:35px;
width:360px;
border-radius:10px;
box-shadow:0 4px 20px rgba(0,0,0,0.15);
text-align:center;
}

.auth-box h2{
margin-bottom:20px;
}

.auth-box input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ddd;
border-radius:6px;
font-size:14px;
}

.auth-box button{
width:100%;
padding:12px;
background:#008cff;
border:none;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

.auth-box button:hover{
background:#0073e6;
}

.divider{
margin:20px 0;
color:#888;
}

a{
color:#008cff;
text-decoration:none;
}